@font-face {
    font-family:"Protest";
    src: url(/Assets/Fonts/ProtestRevolution-Regular.ttf);
}

.Social-bar{
background-color:#dddd;
}
.Social-bar .social{
    background-color: #dc3545;
}
.header .free{
    font-family:"Protest";
    font-weight: bold;
    background-color: #dc3545;
    transition: 1s;

}
.header .free:hover{
    background-color:slategrey;
    transition: 1s;
}
.rfont{
    font-family:"Protest";
}
.cards{
display: flex;
justify-content: space-between;
box-shadow: 2px 13px 5px 7px rgba(0,0,0,0.19);
}
.card:hover{
    background-color:slategrey;
    transition: 1s;
}